<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="./css/master.css">
</head>

<body>
  <div id="ele">
    <!-- 模板语法 -->
    <!-- 1.插值 -->
    <!-- 文本 -->
    <span>{{msg}}</span>

    <!-- 纯HTML -->
    <div v-html="rawhtml"></div>

    <!-- 属性 v-bind -->
    <div v-bind:id="redDIV">我是一个红色的div</div>
    <button v-bind:disabled="isButtonDisabled" @click="counter()">Button</button>

    <!-- 使用JavaScript表达式 -->
    <span>click the button: {{number}}次</span>
    <p>ok为true还是false: {{ok? 'yes':'no'}}</p>

    <!-- 2.指令 -->
    <!-- 参数 -->
    <!-- <a v-bind:href="url"></a>
      <a v-on:click="doSomething"></a> -->

    <!-- 修饰符 -->
    <!-- 半角.指明后缀,用于指出一个指令该以特殊方式绑定 -->
    <!-- <form v-on:submit.prevent="onSubmit"></form>  prevent 触发事件调用event.preventDefault() -->

    <!-- 过滤器 : 常见的一些文本格式化.可用在插值和v-bind -->
    <!-- in mustaches插值 -->
    <!-- {{ message | capitalize }} -->
    <!-- in v-bind -->
    <!-- <div v-bind:id="rawId | formatId"></div> -->

    <!-- 3.缩写 -->
    <!-- # v-bind 缩写 -->
    <!-- 完整语法 -->
    <!-- <a v-bind:href="url"></a> -->
    <!-- 缩写 -->
    <!-- <a :href="url"></a> -->

    <!-- # v-click 缩写 -->
    <!-- 完整语法 -->
    <!-- <a v-on:click="doSomething"></a> -->
    <!-- 缩写 -->
    <!-- <a @click="doSomething"></a> -->
    <!--
    <p>Original message: "{{ msg }}"</p>
    <p>Computed reversed message: "{{ reversedMsg }}"</p> -->




    <div id="demo">
      {{fullName}}
    </div>


    <!-- Class与Style绑定 -->
    <div v-bind:class="{ active: isActive}">
      {{isActive}}
    </div>

    <my-component class="baz boo" v-if="ok">
      <h1>标题</h1>
      <p>段落一</p>
      <p>段落二</p>
    </my-component>

    <table>
      <tr is="my-row"></tr>
    </table>


    <div :style="{color: activeColor, fontSize: fontSize + 'px'}">
        我是一个被vbind的div
    </div>

    <div v-bind:style="styleObject">呵呵呵呵</div>


    <h1 v-if="ok" class="ifOk">Yes</h1>
    <h1 v-else class="ifNotOk">No</h1>


    <h2 v-show="ok">hello</h2>

    <ul id="example-ul">
      <li v-for="item in items">{{item.name}}爱吃：{{item.fruit}}</li>
    </ul>


    <ul>
      <template v-for="(value, key, index) in itemObjs">
        <li>{{ key }}：{{ value }} - {{index}}</li>
      </template>
    </ul>

    <my-component v-for="item in items" :key="item.id"></my-component>

  </div>
  <!-- <div id="watch-example">
    <p>Ask a yes/no question:</p>
    <input type="text" name="" value="" v-model="question">
    <p>{{answer}}</p>
  </div> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
  <!-- <script src="./js/watch-example.js"></script> -->
  <script src="./js/template-syntax.js"></script>
  <!-- <script src="./js/class-style-binding.js" charset="utf-8"></script> -->

</body>

</html>
